<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTRATO</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'pages:home' %}">Rádio Litoral FM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    </ul>
                        <ul class="navbar-nav px-3">
                            <li class="nav-item text-nowrap">
                                <a href="{% url 'account_logout' %}" class="nav-link">Sair</a>
                            </li>
                    </ul>
                    {% else %}
                    </ul>
                        <ul class="navbar-nav px-3">
                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" class="nav-link">Entrar</a>
                        </li>
                    </ul>
                        <ul class="navbar-nav px-3">
                        <li class="nav-item">
                            <a href="{% url 'account_signup' %}" class="nav-link">Cadastrar</a>
                        </li>
                    </ul>
                    {% endif %}
            </div>
    </nav>
</head>
<body>
    <style>
        main{
            background-color: white;
                width: auto;
                heigth: 600px;
                margin-left: 35px;
                margin-right: 35px;
                padding: 15px;
                box-shadow: 6px 6px 10px black;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 25px;
                border-radius: 15px;
                color: black;
            }
        body{
            background-color: rgb(60, 117, 202);
    
        }
        </style>
        
    
        <br><br><br>
        <main style="margin-top: 30px;">
            <h1 style="font-weight: bold;">CONTRATO</h1> <br>
            <p>Aqui ficará o contrato!...</p>
            <br><br>
            <a href="/add-cliente"><button type="button" class="btn btn-primary">Aceito</button></a>
            <a href="/"><button type="button" class="btn btn-primary">Não Aceito</button></a>
        </main>
    <br><br><br><br>
    
    <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- Select2 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    </body>
    </html>
</body>
</html>